<h1 style="text-align: center;">Management Responses</h1>
<button (click)="reload()">Reload</button>
<div>
  <table >
    <tr>
      <th>S.No</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Registration Name</th>
      <th>Email</th>
      <th></th>
    </tr>
    <tr *ngFor="let data of cseData, let i=index">
      <td>{{i+1}}</td>
      <td>{{data.first_name}}</td>
      <td>{{data.last_name}}</td>
      <td>{{data.regno}}</td>
      <td>{{data.email}}</td>
      <td><button><a (click)="route(data.first_name, data)">click</a></button></td>
      </tr>
  </table>
</div>
