<h1 style="text-align: center;">CSE Responses</h1>
<button (click)="reload()">Reload</button>
<div>
  <h4>First Years</h4>
  <table>
    <tr>
      <th>S.No</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Registration Name</th>
      <th>Contact</th>
      <th>Email</th>
      <th></th>
    </tr>
    <tr *ngFor="let data of cseData2, let i=index">
      <td>{{i+1}}</td>
      <td>{{data.first_name}}</td>
      <td>{{data.last_name}}</td>
      <td>{{data.regno}}</td>
      <td>{{data.contact}}</td>
      <td>{{data.email}}</td>
      <td><button><a (click)="route(data.first_name, data)">View Response</a></button></td>
    </tr>
  </table>
</div>
<div>
  <h4>First Years + Management</h4>
  <table>
    <tr>
      <th>S.No</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Registration Name</th>
      <th>Contact</th>
      <th>Email</th>
      <th></th>
    </tr>
    <tr *ngFor="let data of cseManagement, let i=index">
      <td>{{i+1}}</td>
      <td>{{data.first_name}}</td>
      <td>{{data.last_name}}</td>
      <td>{{data.regno}}</td>
      <td>{{data.contact}}</td>
      <td>{{data.email}}</td>
      <td><button><a (click)="route(data.first_name, data)">View Response</a></button></td>
    </tr>
  </table>
</div>
<div>
  <h4>Second Years</h4>
  <table>
    <tr>
      <th>S.No</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Registration Name</th>
      <th>Contact</th>
      <th>Email</th>
      <th></th>
    </tr>
    <tr *ngFor="let data of cseData, let i=index">
      <td>{{i+1}}</td>
      <td>{{data.first_name}}</td>
      <td>{{data.last_name}}</td>
      <td>{{data.regno}}</td>
      <td>{{data.contact}}</td>
      <td>{{data.email}}</td>
      <td><button><a (click)="route(data.first_name, data)">View Response</a></button></td>
    </tr>
  </table>
</div>
