<div style="background-color: red; padding: 10px;"><h3>Note: Strictly use the navbar to toggle between the pages.</h3>
<h3>Use the reload button to reload the data.</h3>
<h3>Do not refresh the page manually or use the Back button.</h3>
</div>
<div style="background-color: lightblue; padding: 10px;">
<ul>
  <li><a (click)="route('cse')">Go to CSE</a></li>
  <li><a (click)="route('ece')">Go to ECE</a></li>
  <li><a (click)="route('management')">Go to Management</a></li>
  <li><a (click)="route('editorial')">Go to Editorial</a></li>
  <li><a (click)="route('design')">Go to Design</a></li>
  <li><a (click)="route('photography')">Go to Photogaphy</a></li>
</ul>
</div>
