/* You can add global styles to this file, and also import other style files */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #cccccc;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
h1{
  text-decoration: underline;
}
h4{
  text-align: center;
}
a{
  cursor: pointer;
}
button{
  padding: 10px;
  background-color: grey;
  border-radius: 2px;
  border: 1px solid black;
  cursor: pointer;
}
