/* You can add global styles to this file, and also import other style files */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th, tr {
  border: 1px solid #cccccc;
  text-align: left;
  padding: 5px;
}
th{
  background-color: lightcoral;
}
tr:nth-child(even) {
  background-color: gray;
}
h1{
  text-decoration: underline;
}
h4{
  text-align: center;
  background-color: lightseagreen;
  padding: 20px;
}
a{
  cursor: pointer;
}
button{
  padding: 7px;
  background-color: lightyellow;
  border-radius: 7px;
  font-size: 14px;;
  border: 1px solid black;
  cursor: pointer;
  color: black;
}

body{
  background-color: #213159;
  color: white;
}
